body {
  background-color: #f9f5ad;
  color: #000000;
  font-family: Cambria;
  line-height: 1.6;
  margin: 20px;
  padding: 10px;
  font-size: 1.3em;
  text-align: center;
}

h1 {
  color: #000000;
  font-size: 2.5em;
  margin-bottom: 10px;
  border-top: #3020da 6px solid; 
}

h2 {
  color: #000000;
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 6px solid #3020da;
  border-bottom: 6px solid #3020da;
  padding-bottom: 5px;
}

p {
  font-size: 1.2em;
  color: #000000;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 15px;
  border-bottom: #3020da 6px solid; 
}

p2 {
  font-size: 1.2em;
  color: #000000
  line-height: 1.6;
}

img {
  border-radius: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
